<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Dashboard for neo4j commands</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../resources/static/css/main.css" />
</head>
<body>
    <div>
        <p th:text="'The following cypher commands are possible for graphs database neo4j:'"></p>
    </div>
    <footer>
        <div>
            <a href="/commands">All commands here!</a>
        </div>
    </footer>
</body>
</html>